* {
    font-family: sans-serif;
    user-select: none;
}

@font-face {
    font-family: customFont;
    src: url("./font/joystix\ monospace.otf");
}

body {
    text-align: center;
    background-image: url("/res/img/programmingBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#startGame {
    background-color: white;
    padding-top: 10px;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    width: 350px;
    height: 125px;
    border: 10px black;
    border-radius: 30px;
    border-style: double;
    cursor: pointer;
}
#startGame h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

#prices{
    margin-top: -10px;
    margin-right: -8px;
    background-color: black;
    height: 950px;
    width: 320px;
    float: right;
    text-align: center;
    font-size: 20px;
    color: white;
}
#prices h3 {
    padding-top: 6px;
    padding-bottom: 6px;
}


#prices h3:hover {
    background-color: orange;
    cursor: pointer;
}

#prices div:hover {
    background-color: orange;
    cursor: pointer;
}
#q5 h3 {
    color: red;
}

#q10 h3 {
    color: yellow;
}

#q15 h3 {
    color: lime;
}

#main {
    font-family: customFont;
}

#mainQuestion {
    border: 3px solid rgb(0, 110, 255);
    text-align: center;
    margin: 0 auto;
    margin-top: 36%;
    width: 1750px;
    height: 100px;
    background-color: black;
    color: white;
    font-family: customFont;
}
#questionTitle {
    font-size: 23px;
}
#options {
    width: 100%;
}

#top {
    width: 100%;
    display: flex;
}

#firstOption, #secondOption, #thirdOption, #fourthOption {
    border: 3px solid rgb(0, 110, 255);
    height: 50px;
    margin-top: 15px;
    background-color: black;
    color: white;
    flex-basis: 40%;
    padding-left: 25px;
    text-align: left;
    font-size: 13px;
}

#firstOption:hover, #secondOption:hover, #thirdOption:hover, #fourthOption:hover {
    cursor: pointer;
}
 
#firstOption, #thirdOption {
    margin-left: 50px;
}
#secondOption, #fourthOption {
    margin-left: 200px;
}
#bottom {
    width: 100%;
    display: flex;
}

#lossTitle {
    color: white;
    font-size: 40px;
    text-align: center;
}